$primary: #2581eb;
$accent: #cca9cd;
$bg-accent: #ebedf0;
$disabled: #a6b8b7;
$foreground: #457eba;

body{
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(0deg,$primary,0.03%,$accent);
    color: $foreground;
    display: inline-flex;
    justify-content: center;
    margin: 0 auto;
    padding: 0 30px;
    height: 100vh;
    width: 200;
    scroll-behavior: smooth;
    overflow: hidden;
    p{
      font-size: 20px;
      color: $foreground;
      background-color: whitesmoke;
      height: 30px;
      justify-content: center;
      padding: 10px;

    }
    .user_reg{
        font-family: Arial, Helvetica, sans-serif;
        width: 500px;
        border-radius: 5px;
        margin-top: 100px;
        padding: 10px 60px;
        box-sizing: border-box;
        background: $bg-accent;
        position: relative;
    }
}

input{
    
    width: 100%;
    border: 0;
    border-color: #a6b8b7;
    margin: 0 0 15px;
    padding: 15px;
    outline: 0;
    font-size: 15px;
    text-align: center;
    box-sizing: border-box;
    background-color: whitesmoke;
  }

  select{
    width: 100%;
    border: 0;
    border-color: #a6b8b7;
    margin: 0 0 15px;
    padding: 15px;
    outline: 0;
    font-size: 15px;
    text-align: center;
    box-sizing: border-box;
    background-color: whitesmoke;
  }
.submit{
    background: $foreground;
            border-radius: 10px;
            font-size: 18px;
            color: $bg-accent;
            padding: 10px 42px;
            outline: none;
            border:none;
            margin-top: 15px;
            cursor: pointer;
}

